<ng-container class="container">
  <mat-toolbar class="header row">
    <div class="col-1">
      <span>Aplicativo do cliente</span>
    </div>
    <div class="col-1">
      <span>Para Empresas</span>
    </div>
  </mat-toolbar>
  <button mat-fab class="floating-button">
    <img src="../../assets/images/qrcode.svg" alt="" />
  </button>
  <mat-toolbar class="footer">
    <span>Mapa de cobertura</span>
    <span>Código de Defesa do Consumidor</span>
    <span>Onde nos encontrar?</span>
    <span>Time</span>
  </mat-toolbar>
</ng-container>
